.guesses {
    background: papayawhip;
    border-collapse: collapse;
    display: table;
    margin: auto;
    margin-top: 100px;
    width: 800px;

    .header-row,
    .guess {
        display: table-row;

        .header,
        .information {
            border: thin solid black;
            display: table-cell;
            padding: 10px;
            box-sizing: border-box;

            &.correct {
                background: #37be75;
                color: white;
            }

            &.close {
                background: #f4e878;
            }

            &.incorrect {
                background: #d4d4d4;
            }

            &.name {
                width: 250px;
            }

            &.gender {
                width: 90px;
            }

            &.residence {
                width: 130px;
            }

            &.lol-pos {
                width: 160px;
            }

            &.height {
                width: 100px;
            }

            &.age {
                width: 70px;
            }
        }
    }
}