@import "~bootstrap/scss/bootstrap";

.App {
    font-family: Comic Sans MS, Comic Sans, cursive;
    text-align: center;
}

h1 {
    margin-bottom: 10px;
    margin-top: 20px;
}

body {
    background: peachpuff;
}